@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: red;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --inter-font: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--inter-font);
  background-color: var(--grey-900);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--grey-800);
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  padding: 24px 16px;
  text-align: center;
}

.profile__img {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
}

.profile__name {
  color: var(--white);
  font-weight: 600;
  margin-top: 24px;
}

.profile__location {
  color: var(--green);
  font-size: 14px;
  margin-top: 8px;
}

.profile__occupation {
  color: var(--white);
  margin-top: 32px;
  font-size: 14px;
}

.profile__link {
  background-color: var(--grey-700);
  color: var(--white);
  display: block;
  border: none;
  font-weight: 700;
  padding: 1rem;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.profile__link:hover {
  background-color: var(--green);
  color: var(--grey-700);
}

.profile__link:first-of-type {
  margin-top: 24px;
}

.profile__link:not(:first-of-type) {
  margin-top: 16px;
}

@media screen and (min-width: 375px) {
  .card {
    max-width: 335px;
    padding: 24px;
  }

  .profile__occupation {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 400px;
    padding: 2.5rem;
  }
}
